[05-May-2017 22:28:11 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 40
[05-May-2017 22:29:05 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 39
[05-May-2017 22:29:05 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 39
[05-May-2017 22:30:05 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 42
[05-May-2017 22:30:08 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 42
[05-May-2017 22:30:09 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 42
[05-May-2017 22:35:16 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 40
[05-May-2017 22:35:26 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected ',' in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 38
[05-May-2017 22:37:42 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 40
[05-May-2017 22:37:44 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 40
[05-May-2017 22:39:22 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Webservice_model.php on line 41
[15-May-2017 22:31:05 America/Sao_Paulo] PHP Fatal error:  Call to undefined function http_get() in /home/brasfut/public_html/painel/application/controllers/Webservice.php on line 56
[30-Jan-2018 23:49:12 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected 'endif' (T_ENDIF) in /home/brasfut/public_html/painel/application/views/Templates/Dashboard.php on line 138
[30-Jan-2018 23:49:13 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected 'endif' (T_ENDIF) in /home/brasfut/public_html/painel/application/views/Templates/Dashboard.php on line 138
[05-Feb-2018 22:40:31 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected '>' in /home/brasfut/public_html/painel/application/controllers/Partida.php on line 279
[05-Feb-2018 22:40:50 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected '>' in /home/brasfut/public_html/painel/application/controllers/Partida.php on line 279
[05-Feb-2018 22:45:15 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected '>' in /home/brasfut/public_html/painel/application/controllers/Partida.php on line 279
[05-Feb-2018 22:45:22 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected '>' in /home/brasfut/public_html/painel/application/controllers/Partida.php on line 279
[05-Feb-2018 22:45:26 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected '>' in /home/brasfut/public_html/painel/application/controllers/Partida.php on line 279
[05-Feb-2018 22:46:22 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected '>' in /home/brasfut/public_html/painel/application/controllers/Partida.php on line 279
[05-Feb-2018 22:48:16 America/Sao_Paulo] PHP Parse error:  syntax error, unexpected '>' in /home/brasfut/public_html/painel/application/controllers/Partida.php on line 279
[14-Feb-2018 23:55:56 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Partida_model.php on line 716
[14-Feb-2018 23:56:37 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Partida_model.php on line 715
[15-Feb-2018 00:10:50 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Partida_model.php on line 714
[15-Feb-2018 00:11:01 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Partida_model.php on line 715
[15-Feb-2018 00:11:25 America/Sao_Paulo] PHP Fatal error:  Call to a member function num_rows() on a non-object in /home/brasfut/public_html/painel/application/models/Partida_model.php on line 715
